:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --bg-icon: #131313;
  --bg-arrow-color: rgba(0,0,07);
  --bg-container: rgba(18, 18, 18, 0.5);
  --border-color-container: rgb(48, 48, 48);
  --primary-font-color: #b3b3b3;  
}